/* HomePage.css */

.home-banner {
    text-align: center;
    margin-bottom: 40px;
}

.home-banner img {
    max-width: 80%; /* Reduced the max-width for smaller image size */
    height: auto;
}

.about-us {
    text-align: center;
    margin: 40px 0;
}

.our-services {
    margin: 40px 0;
}

.our-services .service {
    margin-bottom: 20px;
}

.contact-section {
    text-align: center;
    margin: 40px 0;
}
